@media (max-width: 1200px) {
  .advertising__right {
    width: 60%;
  }
}

@media (max-width: 1000px) {
  .advertising__right {
    width: 30%;
    margin-left: -10px;
  }

  .advertising__wrapper {
    justify-content: normal;
  }

  .advertising__left {
    margin-left: 70px;
  }
}

@media (max-width: 800px) {
  .advertising__right {
    width: 300px;
  }

  .advertising {
    height: 100%;
  }

  .advertising__wrapper {
    flex-direction: column;

    padding: 30px 0;

    height: 560px;
  }

}